head{
    padding: 0; margin: 0;
}
body{
    font-family: 'Exo 2', sans-serif;
    padding: 0; margin: 0;
}
div.headcentre{
    background: linear-gradient(to bottom, #0099cc 0%, #ffffff 100%);
    text-align: center;
    margin: auto;
}
a{
    color: #770077;
    text-decoration: none;
}