a{
    color: #770077;
    text-decoration: none;
}
head{
    padding: 0; margin: 0;
}
body{
    font-family: 'Exo 2', sans-serif;
    padding: 0; margin: 0;
}
div.headcentre{
    background: linear-gradient(to bottom, #33ccff 0%, #669999 85%);
    text-align: center;
    margin: auto;
}
div.page{
    text-align: center;
}
div.tsxtransit{
    font-family: 'Patua One', sans-serif;
    text-align: center;
}
