div.musiccreditfont{
    font-family: 'Mina', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}
html{
    background: url(data/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1{
    text-align: center;
    font-family: "Gill Sans", serif;
    font-size: 25px;
    
}
img{
    float: center;
}
div.footer{
    font-family: 'Spicy Rice', serif;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    color: orange;
    text-shadow: 4px 4px 4px #000;
}
div.motdmsg{
    font-family: 'Spicy Rice', serif;
    font-size: 35px;
    position: fixed;
    bottom: 0;
    color: lime;
    text-shadow: 4px 4px 4px #000;
}
<!Use the Elephant font at some point>